@charset "utf-8";

/* 共通項 */

.input-init {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

.extra-text__blank {
  margin-bottom: 8px;
}

.flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.btn {
  border: solid 1px #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-init {
  text-decoration: none;
}

.text__center {
  text-align: center;
}

.default-text {
  color: #949697;
  font-size: 12px;
}

.form-item {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #545658;
}

.form-item > span {
  color: #dd4b39;
}

.input-type {
  display: inline-block;
  box-sizing: border-box; /*これがないとボーダー分親要素より大きくなる*/
  font-size: 13px;
  height: 36px;
  line-height: 2;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 5px;
}

.input-type:focus {
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  outline: 0;
}

.text-color {
  color: #545658;
}

.extra-text {
  font-size: 12px;
  line-height: 16px;
}

.link-color {
  color: #01a6a4;
}

.link-color:hover {
  color: #01bfbd;
}

.row-blank__bottom {
  margin-bottom: 20px;
}

/* 共通項 */

.wrapper {
  background-color: #f2f6f7;
  padding: 32px 0;
}

.inner {
  width: 640px;
  margin: 0 auto;
}

.main {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 18%);
  padding: 48px 64px;
}

.main-title {
  color: #545658;
  font-size: 24px;
}

.main-title__blank {
  margin-bottom: 24px;
}

.btn-facebook {
  background-color: #3b5999;
  border-color: #3b5999;
  color: #fff;
}

.google {
  margin-left: 8px;
}

.btn-facebook:hover {
  background-color: #344e87;
}

.btn-google {
  background-color: #fff;
  color: #dd4b39;
}

.btn-google:hover {
  background-color: #f7f7f7;
}

.sub-title {
  margin: 20px 0;
  position: relative;
}

.sub-title > p {
  background-color: #fff;
  display: inline-block;
  padding: 0 10px;
  position: relative; /*これがあるとなぜか擬似要素より上になる*/
}

.sub-title::before {
  content: "";
  height: 1px;
  width: 512px;
  background: #ececec;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.form-name__first {
  margin-left: 16px;
}

.form-gender-choice > label {
  margin-left: 15px;
  cursor: pointer;
}

.form-gender-choice > label:first-child {
  margin-left: 0;
}

.radio {
  display: none;
}

.radio-text {
  display: inline-block;
  padding: 3px 3px 3px 20px;
  position: relative;
}

.radio-text::before, .radio-text::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.radio-text::before {
  background-color: #fbfbfb;
  border: solid 1px #d9d9d9;
  height: 14px;
  width: 14px;
}

.radio:checked + .radio-text::after {
  background-color: #01bfbd;
  left: 4px;
  height: 8px;
  width: 8px;
}

.form-origin-choice {
  position: relative;
}

.form-origin-choice .input-type:focus {
  background-color: #fbfbfb;
  border-color: #d9d9d9;
  box-shadow: none;
}

.form-origin-choice::after {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 10px;
  transform: rotate(45deg);
  border-right: solid 2px #d9d9d9;
  border-bottom: solid 2px #d9d9d9;
}

.form-course-choice > label {
  display: block;
  margin-bottom: 10px;
}

.form-course-choice > label:last-child {
  margin-bottom: 0;
}

.check {
  display: none;
}

.check-text {
  display: inline-block;
  padding: 0 0 0 25px;
  position: relative;
}

.check-text::before, .check-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
}

.check-text::before {
  border: solid 1px #d9d9d9;
  margin-top: -8px;
  height: 15px;
  width: 15px;
}

.check:checked+ .check-text::after {
  border: solid;
  border-color: #01bfbd;
  border-width: 0 3px 3px 0;
  margin-top: -12px;
  left: 6px;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
}

.form-submit .btn {
  background-color: #01bfbd;
  color: #fff;
  border: none;
}

.form-submit .btn:hover {
  background-color: #01a6a4;
}

.form-submit .form-submit__btn:active {
  background-color: #fff;
  color: #01a6a4;
  border: 1px solid #d9d9d9;
}

.form-remark .input-type {
  height: 100px;
}

.register-mail {
  display: inline-block;
}

.footer {
  margin-top: 32px;
}

.footer .link-color:hover {
  border-bottom: solid 1px #01bfbd;
}
